/* stylesLogin.css */
/* Styles for login form, inputs, buttons, etc. */

body {
    font-family: monospace;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Added */
  }
  
  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 2; /* Ensure title is rendered above particles */
  }
  
  form {
    display: flex;
    flex-direction: column;
    z-index: 2; /* Ensure form elements are rendered above particles */
  }
  
  label {
    display: none;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 250px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: inset 0 0 0 2px transparent;
    transition: box-shadow 0.3s ease-in-out;
    z-index: 2; /* Ensure input fields are rendered above particles */
  }
  
  input[type="text"]:hover,
  input[type="password"]:hover {
    box-shadow: inset 0 0 0 2px rgba(0, 255, 255, 0.3);
  }
  
  input[type="text"]::placeholder {
    color: #ccc;
    content: "Username";
  }
  
  input[type="password"]::placeholder {
    color: #ccc;
    content: "Password";
  }
  
  button[type="submit"] {
    padding: 12px 20px;
    background-color: #167a1b;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    z-index: 2; /* Ensure button is rendered above particles */
  }
  
  button[type="submit"]:hover {
    background-color: #30b637;
  }
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
    }
  
    input[type="text"],
    input[type="password"] {
      width: 100%;
    }
  }


  /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1; /* Ensure particles are rendered below form elements */
  } /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, monospace, sans-serif;
    font-weight: bold;
  }
  .js-count-particles {
    font-size: 1.1em;
  }
  #stats,
  .count-particles {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    margin-top: 5px;
    margin-left: 5px;
  }
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  .count-particles {
    border-radius: 0 0 3px 3px;
  }
.flash-messages {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 2; /* Ensure it is above particles */
}

.flash {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.flash.error {
  background-color: #ff4d4d; /* Bright red background */
  color: #fff; /* White text */
  border: 1px solid #ff1a1a; /* Darker red border */
  font-size: large;
  font: sans-serif;
}

.flash.success {
  background-color: #4dff4d; /* Bright green background */
  color: #fff; /* White text */
  border: 1px solid #1aff1a; /* Darker green border */
}
.flash-messages {
  margin-top: 15px;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 2; /* Ensure it is above particles */
}

.flash {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.flash.error {
  background-color: #ac2727; /* Bright red background */
  color: #fff; /* White text */
  border: 1px solid #bb0202; /* Darker red border */
}

.flash.success {
  background-color: #4dff4d; /* Bright green background */
  color: #fff; /* White text */
  border: 1px solid #1aff1a; /* Darker green border */
}
